
<br>

 <div class="mainContain">

 <div class="demo-grid-ruler mdl-grid">

	<% @Post.each do |pot| %>

      <div  class="target mdl-cell mdl-cell--4-col">
      	<div class=" mdl-card mdl-shadow--4dp">
		  <div class="mdl-card__media">
		    <img src="/uploads/<%=pot.imag %>" alt="" />
		  </div>
		  <div class="mdl-card__title">
		    <h1 class="mdl-card__title-text"><%=pot.Titutlo %></h1>
		  </div>
		  <div class="mdl-card__supporting-text">
		    <p><%=pot.body %></p>
		  </div>
		    <div class="mdl-card__actions mdl-card--border">
		    <!-- Border added using class "mdl-card--border"-->
		    
		    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
		      <!-- Button with ripple Effect-->
		     Travel a Nicaragua now
		    </a>
		    
		  	</div> <!-- .mdl-card-->
			</div>
	  </div>
	
	<%end%>	
 </div>

 
<!-- Libreria jQuery
<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  -->
<script type="text/javascript">

//$('.target').smoove({offset:'90%'});
/*
jQuery(function($) {
$('.target').waypoint(function() {
$(this).toggleClass('bounceIn animated');
},
{
offset: '10%',
triggerOnce: true
});

});*/
	$(document).ready(function()
		{

        $(".target").fadeOut(10);

	
		$('.target').toggle(1000);

			
		 });
</script>
 



 </div>